# Mac related
.DS_Store

# Ignore junk files
*.bak
# Ignore local git config
.gitconfig

# IDE files
.vscode
.idea
*.iml
*.ipr
*.iws

# Idea uses the out directory instead of build
out

# build
build

# Gradle builds into a 'build' directory
.gradle

# Emacs users ...
*~